{
	"trailingComma": "none",
	"tabWidth": 8,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"useTabs": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"organizeImportsSkipDestructiveCodeActions": true
}
