.login {
	height: 100vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	.card {
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: white;
		border-radius: 5px;
		min-height: 630px;
		max-height: 630px;
		overflow: hidden;
		justify-content: center;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;

		.right {
			flex: 1;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 20px;
			justify-content: center;
			h1 {
				color: rgb(95, 95, 228);
				font-weight: 1000;
			}
			p {
				color: #555;
				font-size: 20px;
				line-height: 20px;
			}

			form {
				display: flex;
				flex-direction: column;
				gap: 10px;

				input {
					border: 1px solid lightgray;
					padding: 10px 10px;
					margin-bottom: 0px;
					border-radius: 3px;
					width: 280px;
					:hover {
						background-color: var(
							--ds-background-input-hovered,
							gray
						);
						border-color: var(
							--ds-border-input,
							#dfe1e6
						);
					}
					background-color: var(
						--ds-background-input,
						#fafbfc
					);
					border-color: var(
						--ds-border-input,
						#dfe1e6
					);

					pointer-events: auto;
				}

				ul {
					display: flex;
					align-items: center;
					justify-content: space-between;
					list-style: none;

					li {
						a {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
